body{
	margin: 0 auto;
	max-width: 100%;
	background-image: url("images/back.png");
	background-repeat: no-repeat;
	font-family: Karla, sans-serif;
	font-weight: 400;

}
.too_small{
	display: none;
}

.page{
	background-color: rgba(1,160,254,0.7);
}	
.header{
	height: 100px;
	background-color: #000000;
	padding: 30px 30px 0 30px;
}
.menuicon{
	width: 33%;
	float: left;
}
.menuicon img{
	padding-left: 30px;
    margin: 20px auto;
}
.settings{
	float:left;
	font-size: 50px;
	width: 33%;
	color: #fff;
	text-align: center;
    margin-top: 10px;
}
.settingsicon{
	width: 33%;
	float: left;
}
.settingsicon img{
	float: right;
    padding-right: 30px;
    margin: 20px auto;
}
.layer2down{
	background-image: url("images/BottomBox1.png");
	background-size: cover;
    background-position-y: 400px;
    background-repeat: no-repeat;
}
.main{
	margin-top: 50px;
    background: #FFF;
    width: 85%;
    margin: 0 auto;
}
.uppermain img{
	width: 250px;
	height: 250px;
}
.uppermain{
	    margin-top: 50px;
}

.uppermain1{
	float: right;
}
.uppermain1 span{
	float: right;
	margin-right: 70px;
	font-size: 30px;
	font-family: Karla, sans-serif;
	font-weight: 400;
	padding-top: 100px;
	padding-bottom: 10px;
	border-bottom: 4px solid #42a9ee;
	color: #42a9ee;
}
.detail{
	
	margin: 100px;
}

.detail input{
	width: 100%;
	border-style: none;
	border-bottom: 2px solid #ccc;
	font-size: 30px;
	font-family: Karla, sans-serif;
	font-weight: 400;
	padding-top: 20px;
	padding-bottom: 30px;
	margin-bottom: 40px;
}


input:focus{
	outline: none;
}

.detail span {
	color: #bc9492;
	font-size: 30px;
	font-family: Karla, sans-serif;
	font-weight: 400;
}

input:focus ~ .floating,
input:not(:focus):valid ~ .floating{
  top: 0px;
  font-size: 20px;
  opacity: 1;
}
.fields{
	position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.floating {
  position: absolute;
  pointer-events: none;
  top: 18px;
  transition: 0.2s ease all;
}


.lowermain{
	background-color:#01a0fe;
	font-size: 30px;
	color: #fff; 
	line-height: 90px;
	padding-top: 50px;
	padding-bottom: 50px;
}
.lowermain span{
	margin-left: 130px;
}	
.switch {
	margin-right: 130px;
    position: relative;
    display: inline-block;
    width: 50px;
    float: right;
    height: 20px;
    margin-top: 35px;
}
.switch input {
	display:none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: #01a0fe;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #000;
}
input:checked + .slider:before {
  background-color: white;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  transform: translateX(30px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
@media screen and (max-width: 768px) and (min-width: 500px){
.header{
	height: 80px;
}
.settings{
	font-size: 40px;
}
.menuicon img{
	width:50px;
}
.settingsicon img{
	width:50px;
}
.uppermain img{
	width: 150px;
	height: 150px;
}
.uppermain1 span{
	margin-right: 50px;
	font-size: 20px;
	padding-top: 80px;
}
.detail{
	
	margin: 70px;
}

.lowermain span{
	font-size: 25px;
	margin-left: 80px;
}
.switch {
	margin-right: 80px;
	margin-top: 25px;
}
.detail span {
	font-size: 25px;
}
.lowermain{
	line-height: 70px;
}
}
@media screen and (max-width: 500px) and (min-width: 371px){
.header{
	height: 60px;
	padding: 20px 25px 0 25px;
}
.settings{
	font-size: 25px;
}
.menuicon img{
	width:30px;
}
.detail span {
	font-size: 20px;
}
.settingsicon img{
	width:30px;
}
.uppermain img{
	width: 120px;
	height: 120px;
}
.lowermain{
	line-height: 60px;
}
.uppermain1 span{
	margin-right: 40px;
	font-size: 14px;
	padding-top: 30px;
	border-bottom: 2px solid #42a9ee;
}
.lowermain span{
	font-size: 20px;
	margin-left: 50px;
}
.switch {
	margin-right: 50px;
	margin-top: 20px;
}
.detail{
	
	margin: 50px;
}
}
@media screen and (min-height: 1220px){
	.page{
		height: 100%;
	}
	.layer2down{
		height: 85%;
	}
	.lowermain{
		line-height: 110px;
	}
}
@media screen and (max-width: 371px) and (min-width: 290px){
.settings{
	font-size: 20px;
}
.menuicon img{
	width:20px;
}
.detail span {
	font-size: 15px;
}
.lowermain{
	line-height: 50px;
}
.settingsicon img{
	width:20px;
}
.uppermain img{
	width: 90px;
	height: 90px;
}
.uppermain1 span{
	margin-right: 30px;
	font-size: 14px;
	padding-top: 50px;
}
.lowermain span{
	font-size: 16px;
	margin-left: 30px;
}
.switch {
	margin-right: 30px;
	margin-top: 15px;
}
.header{
	height: 50px;
	padding: 20px 20px 0 20px;
}
.detail{
	
	margin: 50px;
}
}
@media screen and (max-width: 289px){
.page{
	display: none;
} 
body{
	background-image:none;
}
.too_small{
	display: block;
	font-size: 40px;
}
}