body{
	margin: 0 auto;
	max-width: 100%;
	font-family: Karla, sans-serif;
	font-weight: 400;
	height: 200%;
}
.too_small{
	display: none;
}
.page{
	background-image:url("images/lscape.png"),url("images/BottomBox1.png");
	background-size: 100% 40%,cover;
    background-position-y:0,245px;
    background-repeat: no-repeat,no-repeat;
    height: 100%;
}
.header{
	background-color: black;
	height: 70px;
}
.headercontent{
	margin: 0 auto;
	max-width: 90%;
	padding-top: 35px;
	text-align: center;
}
.header span{
	font-size: 20px;
	color: #FFF;	
}
.header img{
	float: left;
	width: 30px;
}
.signup{
	padding: 30px 0 30px 0;
	margin: 0 auto;
	max-width: 90%;
	font-size: 40px;
	color: #FFF;
	font-weight: 600;
}
.infodiv{
	margin: 0 auto;
	max-width: 90%;
	background-color: #FFF;
}
.info{
	padding-top: 10px;
	padding-bottom: 20px;
	margin: 0 auto;
	max-width: 80%;
}
.info input{
	width: 100%;
	border-style: none;
	border-bottom: 2px solid #ccc;
	font-size: 30px;
	font-family: Karla, sans-serif;
	font-weight: 400;
	padding-top: 10px;
	padding-bottom: 10px;
}


input:focus{
	outline: none;
}
.info span {
	color: #bc9492;
	font-size: 30px;
	font-family: Karla, sans-serif;
	font-weight: 400;
}

input:focus ~ .floating,
input:not(:focus):valid ~ .floating{
  top: 0px;
  font-size: 20px;
  opacity: 1; 
}

.fields{
	position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.floating {
  position: absolute;
  pointer-events: none;
  top: 30px;
  transition: 0.2s ease all;
}
.nextstep{
	margin: 0 auto;
	max-width: 90%;
	background-color:rgb(1,160,254);
}
.innerdiv{
	padding-top: 20px;
	margin: 0 auto;
	max-width: 80%;
}
.innerdiv span {
	font-size: 20px;
	color: #FFF;
	float: left;
}
.innerdiv img{
	float: right;
	width: 30px;
}
.pageno{
	margin: 0 auto;
	max-width: 80%;
	font-size: 70px;
	font-weight: 600;
	color: #FFF;
	opacity: .3;
}
@media screen and (min-height: 410px){
	body{
		height: 120%;
	}
	.signup{
	padding: 50px 0 50px 0;
		
}

.info{
	padding-top: 40px;
	padding-bottom: 40px;
}
}
@media screen and (width: 320px) and (height:568px){
	
	body{
		height: 135%;
	}
 }
 @media screen and (width: 412px) and (height: 732px){
	
	body{
		height: 105%;
	}
 }
 @media screen and (width: 375px) and (height: 667px){
	
	body{
		height: 115%;
	}
 }
 @media screen and (width: 414px) and (height: 736px){
	
	body{
		height: 105%;
	}
 }
 @media screen and (min-height: 1024px){
 	body{
 		height:100%;
 	}
 	.signup{
	padding: 100px 0 100px 0;
	font-size: 90px;
}
.info{
	padding-top: 70px;
	padding-bottom: 70px;
	font-size: 60px;
}
.fields{
	padding-bottom: 20px;
	padding-top: 20px;
}
}
@media screen and (min-height: 1366px){
	
	body{
		height: 100%;
	}

 	.signup{
	padding: 150px 0 150px 0;
	font-size: 100px;
}
.info{
	padding-top: 150px;
	padding-bottom: 150px;
	font-size: 60px;
}
.innerdiv{
	padding-top: 40px;
	}
.innerdiv span {
	font-size:25px;
}
.innerdiv img{
	width: 50px;
}
.pageno{
	font-size: 100px;
}
.page{
	    background-size: 100% 40%,cover;
 }	
}
 @media screen and (max-width: 250px){
  	.page{
	display: none;
} 
body{
	background-image:none;
}
.too_small{
	display: block;
	font-size: 40px;
}

  }
